.justifyContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: "Proxima";
    src: url('../../assets/fonts/proxima.ttf');
}

body {
    font-family: Proxima !important;
}

.user_table_container{
    width: 500px;
}