
  .thread_container{
    width: 600px;
     border-left:1px solid grey;

}
  
    .collabContainer_Reduce_Width{
        width: 60vw;
    }
  
    .collabContainer{
        width: 100%;
    }
    .editor_Cont{
        width: 90%;

    }
  .upload_send_btn_container{
            margin-left: 15px;
       }
    @media only screen and (max-width: 600px) {
        
       .thread_container{
           position:absolute;
           width: 100%;
       }

       .upload_send_btn_container{
            margin-left: 5px;
       }
       .editor_Cont{
           width: 80%;
       }
      }